/* GLOBAL */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Sora', sans-serif;
    line-height: 1.6;
}

section {
    margin-top: 0px;
}

/* BASE */
:root {
    --black: #000000;
    --dark_blue: #0D0060;
    --dark_grey: #767070;
    --light_grey: #D9D9D9;
    --light_blue: #449EF1;
    --white: #FFFFFF;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--black);
}

.hero-section .left h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--white);
    margin-top: 75px;
    margin-bottom: 250px;
}

.hero-section .left {
    flex: 1;
}

.hero-section .right {
    flex: 1;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
    margin-right: -100px;
    margin-top: -200px;
}

/* WRAPPER & BUTTONS */
.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: var(--white);
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background: var(--light_blue);
    text-decoration: none;
}

/* HEADER & NAVIGATION */
header {
    background: var(--black);
    height: 75vh;
    width: 100%;
    z-index: 100;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: var(--dark_blue);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
}

/* FOOTER */
footer {
    background: var(--black);
    color: var(--white);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 70px 0;
    z-index: 1000;
}

footer h2 {
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

footer ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}

footer ul li a {
    font-family: 'Sora', sans-serif;
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
}

/* Center the form and align input and button horizontally */
footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    text-align: center;
}

footer form input[type="text"] {
    padding: 8px;
    width: auto;
    max-width: 200px;
    border: 1px solid var(--dark_grey);
    margin-right: 10px;
}

footer form button {
    padding: 8px 16px;
    border-radius: 24px;
    background-color: var(--white);
    color: var(--black);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

/* Testimonials Section */
.container {
    height: auto; 
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
    z-index: 101; 
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

/* RESPONSIVENESS */
nav.mobile-nav, .mobile-menu-container {
    display: none;
}

@media (max-width: 800px) {
    nav.mobile-nav {
        display: flex;
    }

    nav {
        display: none;
    }
}

@media (max-width: 1100px) {
    nav {
        width: 100%;
        padding: 16px 20px;
    }

    nav.scrolled {
        padding: 16px 20px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .hero-section {
        flex-direction: row;
    }

    .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .left h1 {
        font-size: 30px;
        line-height: 125%;
        margin-top: 250px;
        margin-left: 50px;
    }

    .hero-section .right img {
        max-height: 85%;
        margin-top: -200px;
    }
}

@media (max-width: 800px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-section .left h1 {
        font-size: 30px;
        line-height: 125%;
        margin-top: 150px;
        margin-left: 0;
        text-align: center;
    }

    .hero-section .right {
        margin-top: -200px;
        text-align: center;
    }

    .hero-section .right img {
        max-width: 100%;
        margin-top: -200px;
    }

    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    nav.mobile-nav.scrolled {
        background: var(--dark_blue);
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background: var(--dark_grey);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }
}
