/* Global Variables */
:root {
    --black: #000000;
    --dark_blue: #0D0060;
    --dark_grey: #767070;
    --light_grey: #D9D9D9;
    --light_blue: #449EF1;
    --white: #FFFFFF;
}

/* Global Reset and Box-Sizing */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Sora', sans-serif;
    background-color: var(--white);
    line-height: 1.6;
}

/* Wrapper */
.wrapper {
    max-width: 1134px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Button */
.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: var(--white);
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background: var(--light_blue);
    text-decoration: none;
}

/* Header */
header {
    background: var(--black);
    height: 75vh;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: var(--dark_blue);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
}

/* Hide mobile elements by default */
nav.mobile-nav, .mobile-menu-container {
    display: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--black);
}

.hero-section .left h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--white);
    margin-top: 75px;
    margin-bottom: 250px;
}

.hero-section .left {
    flex: 1;
}

.hero-section .right {
    flex: 1;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
    margin-right: -100px;
    margin-top: -200px;
}

/* Brief Section */
.brief {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.brief .right,
.brief .left {
    flex: 1;
}

h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    color: var(--black);
    text-align: left;
}

.second-image {
    max-width: 75%;
    height: auto;
}

section p {
    font-family: 'Sora', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--black);
    text-align: left;
}

.brief .mobile-btn {
    display: none;
}

/* Footer */
footer {
    background: var(--black);
    color: var(--white);
    margin-top: 100px;
    padding: 70px 0;
    z-index: 1000;
}

footer h2 {
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

footer ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}

footer ul li a {
    font-family: 'Sora', sans-serif;
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Align input and button horizontally */
    margin-top: 15px;
}

footer form input[type="text"] {
    margin-right: 10px;
    max-width: 200px;
    padding: 8px;
}

footer form button {
    padding: 8px 16px;
    border-radius: 24px;
    background-color: var(--white);
    color: var(--black);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

/* Responsive Design */

/* Show mobile elements on small screens only */
@media (max-width: 800px) {
    nav.mobile-nav {
        display: flex;
    }

    nav {
        display: none;
    }
}

/* Responsive adjustments */
@media (max-width: 1100px) {
    nav {
        width: 100%;
        padding: 16px 20px;
    }

    nav.scrolled {
        padding: 16px 20px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .hero-section {
        flex-direction: row;
    }

    .hero-section .left h1 {
        font-size: 30px;
        margin-top: 250px;
    }

    .hero-section .right img {
        max-height: 85%;
        margin-top: -200px;
    }
}

@media (max-width: 800px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-section .left h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 150px;
    }

    .hero-section .right img {
        max-width: 100%;
        margin-top: -200px;
    }

    nav.mobile-nav {
        display: flex;
    }

    nav.mobile-nav.scrolled {
        background: var(--dark_blue);
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background: var(--dark_grey);
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }
}
