:root {
    --black: #000000;
    --dark_blue: #0D0060;
    --dark_grey: #767070;
    --light_grey: #D9D9D9;
    --light_blue: #449EF1;
    --white: #FFFFFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sora', sans-serif;
    background-color: var(--white);
}

header, footer {
    z-index: 1000;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;

}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: var(--white);
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background: var(--light_blue);
    text-decoration: none;
}

/* Header */

header {
    background: var(--black);
    height: 75vh;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0; 
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: var(--dark_blue);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
}


/* Hero Section */

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position:relative;
    color: var(--black);
}

.hero-section .left h1 {
    font-family: 'Sora' sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--white);
    margin-top: 75px;
    margin-bottom: 250px;
}

.hero-section .left {
    flex: 1;
}

.hero-section .right {
    flex: 1;
}

.hero-section .right img {
    height:520px;
    vertical-align: middle;
    size: 75%;
    margin-right: -100px;
    margin-top: -200px;

    
}

/* Breif Section */

.brief {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align:center;
}


.brief .right,
.brief .left {
    flex: 1;
}

section {
    margin-top: 100px;;
}

h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    color: var(--black);
    text-align: left;
}

.second-image {
    max-width: 75%;
    height: auto;
}

section p {
    font-family: 'Sora', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--black);
    text-align: left;
}

.brief .mobile-btn {
    display: none;
}

/* Footer */

footer {
    background: var(--black);
    color: var(--white);
    margin-top: 100px;
    padding: 70px 0;
    z-index: 1000;
}

footer h2 {
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: var(--white);
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer ul {
    display: flex;
    align-items: right;
    gap: 30px;
    list-style: none;
    margin: 0;
}

footer ul li a {
    font-family: 'Sora', sans-serif;
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
}

form {
    margin-top: 15px;
    align-items: center;
    text-align: center;
}

nav.mobile-nav, .mobile-menu-container {
    display: none;
}

/* SURVEY */
:root {
    --primary-bg-color: var(--light_grey);
    --text-color: var(--black);
    --hover-bg-color: var(--light_blue);
    --shadow-color: rgba(0, 0, 0, 0.4);
}

.survey {
    background: var(--primary-bg-color);
    color: var(--text-color);
    width: 50%;
    margin: 50px auto 0;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 7px var(--shadow-color);
    text-align: center;
    z-index: 1000;
    position: relative;
}

.survey a {
    text-decoration: none;
    color: var(--text-color);
}

.survey li {
    list-style: none;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.survey li:hover {
    background: var(--hover-bg-color);
}

/* Hidden questions */
.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10, .end {
    display: none;
}

.q1 {
    display: block;
}

.record {
    border: 2px solid grey;
    padding: 1em;
    margin-top: 1em;
}

.user-info-form {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  #userInfoForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    width: 48%; /* Adjust as needed */
    margin-bottom: 10px;
    padding: 20px;
  }
  
  #userInfoForm label {
    margin-bottom: 5px;
  }
  
  #userInfoForm input {
    padding: 8px;
    border: 1px solid var(--dark_grey);
    border-radius: 3px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitButton {
    background-color: var(--light_grey);
    border: none;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#submitButton:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}


  
/* Blog */
/* General styles */
body {
    font-family: 'Sora', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

main {
    background-color: var(--white);
    margin-bottom: 300vb;
}

.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--dark_grey);
}

main {
    padding-top: 100px; /* Adjust as needed */
    padding-bottom: 100px; /* Adjust as needed */
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.posts-container,
.sidebar {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.posts-container {
    width: 70%;
}

.post,
.box {
    background: var(--light_grey);
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.date,
.title,
.text,
.links,
.links a,
.category a,
.p-post a,
.tags a {
    margin-bottom: 10px;
}

.date {
    font-size: 0.9em;
    color: #888;
}

.links,
.category span,
.p-post span,
.tags {
    display: flex;
    align-items: center;
}

.links {
    justify-content: space-between;
}

.tags a {
    background: #eee;
    border-radius: 5px;
    font-size: 0.8em;
}

.sidebar {
    width: 28%;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .posts-container,
    .sidebar {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}


/* Chatbot */

#chat-window {
    width: 500px;
    margin: 0 auto;
    background-color: var(--light_grey);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  #chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: auto;
  }
  
  #chat-form {
    display: flex;
    align-items: center;
  }
  
  #chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--dark_grey);
    color: var(--dark_blue);
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }
  .bot-message {
    font-family: "Roboto", sans-serif;
    background-color: #fffbf5; /* different light color */
    text-align: justify; /* keep it right-aligned */
    padding: 15px; /* added padding */
    margin-top: 10px; /* added margin-top to create a gap */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  
  .user-message {
    font-family: "Nunito", sans-serif;
    background-color: #f7efe5; /* light color */
    text-align: left; /* changed text align to left */
    padding: 15px; /* added padding */
    display: flex;
    align-items: center;
    font-style: italic;
  }
  .user-message img,
  .bot-message img {
    width: 40px; /* adjust the width of the icon */
    height: 40px; /* adjust the height of the icon */
    margin-right: 20px; /* add some margin to separate the icon from the message */
  }
 
  /* Testimonials */

  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
  }
  .testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
  }
  .testimonial .image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
  }
  .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  .slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
  }
  .slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  .details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }
  /* swiper button css */
  .nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-btn::after,
  .nav-btn::before {
    font-size: 20px;
    color: #fff;
  }
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .swiper-pagination-bullet-active {
    background-color: #4070f4;
  }
  @media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  }


  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    #chat-window {
      width: 90%;
    }
  }
  .main-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 0.5rem;
    color: var(--dark_blue);
    font-style: italic;
  }

@media (max-width: 1100px) {

    nav {justify-content: center;
    }

    .btn {
        padding: 12px 32px;
    }

    .wrapper {
        padding: 0 20px;
    }

    nav {
        width: 100%;
        padding: 16px 20px;
    }

    nav.scrolled {
        padding: 16px 20px;
    }

    header,
    .hero-section,
    header .wrapper {
        max-height: 350px;
    }

    .hero-section {
        flex-direction: row;
    }

    .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .left .btn {
        align-self: flex-start;
    }

    .hero-section .left h1 {
        font-size: 30px; /* Adjusted font size for smaller screens */
        line-height: 125%;
        margin-top: 250px;
        margin-left: 50px;
    }

    .hero-section .right {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        margin-top: -200px; /* Adjusted margin to create space at the top */
    }

    .hero-section .right img {
        
        position: absolute;
        max-height: 85%;
        max-width: auto;

    }
    
    .brief {
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 800px) {

    header,
    .hero-section,
    header .wrapper {
        max-height: none;
    }

    .hero-section {
        flex-direction: column; 
    }

    .hero-section .left,
    .hero-section .right {
        width: 100%;
        margin: 0;
    }

    .hero-section .left h1 {
        font-size: 30px;
        line-height: 125%;
        margin-top: 150px;
        margin-left: 0;
        text-align: center;
    }

    .hero-section .right {
        margin-top: -200px;
        text-align: center;
    }

    .hero-section .right img {
        max-width: 100%;
        max-height: auto;
        margin: 0 auto;
        margin-top: -200px;
    }
    
    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    nav.mobile-nav.scrolled {

        background: var(--dark_blue);
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu-container {
        position: fixed;
        height:100vh;
        width: 100%;
        top:0;
        left: 100%;
        background: var(--dark_grey);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;

    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color:var(--white);
        text-decoration: none;
        font-size: 18px;
    }

}
